<!doctype html>
<html>
    <head>
        <script src="/static/game-frame.js"></script>
        <link rel="stylesheet" href="/static/game-frame-styles.css" />
    </head>
    <body id="level5">
        <img src="/static/logos/level5.png" /><br><br>
        Enter email: <input id="reader-email" name="email" value="">
        <br><br>
        <!-- Keep only one "Next" link -->
        <a id="confirm-link" href="/level5fix_confirm_csp2?next={{ next | e }}">Next >></a>
        <a href="/">
            <button>Back to Homepage</button>
        </a>
        <script src="/static/level5fix_signup_csp2.js"></script>
    </body>
</html>
