<!doctype html>
<html>
    <head>
        <script src="/static/game-frame.js"></script>
        <link rel="stylesheet" href="/static/game-frame-styles.css" />
    </head>
    <body id="level5">
        Welcome! Today we are announcing the much anticipated<br><br>
        <img src="/static/logos/level5.png" /><br><br>
        <!-- Keep only one "Sign up" link -->
        <a id="signup-link" href="/level5fix_signup_csp2?next=confirm">Sign up</a> 
        for an exclusive Beta.
        <a href="/">
            <button>Back to Homepage</button>
        </a>
        <script src="/static/level5fix_welcome_csp2.js"></script>
    </body>
</html>
